@import "variables";
@import "mixins";

.splashscreen {
  position: fixed;
  z-index: 20;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #101010;
  transition: transform 0.6s $easing;
  transform: translateZ(0);
  body.is-ready & {
    transform: translateX(-100%);
  }
  .splashscreen__logo {
    position: absolute;
    width: 260px;
    top: 50%;
    margin-top: -25px;
    left: 50%;
    margin-left: -130px;
    animation-name: fadeIn;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    will-change: opacity;

    img {
      width: 100%;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.intro-video {
  height: 100vh;
  background-color: #000000;
}

.cover-section {
  height: 1200px;
  background-image: url(./../assets/cover-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  &.cover-section--is-title {
    background-color: $intro-bg;
  }
  &.cover-section--is-intro {
    position: relative;
    height: 970px;
    background-image: url(../assets/intro-bg-1.png);
    .cover-section__inner-bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: -321px;
      background-image: url(../assets/intro-bg-2.png);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .cover-section__title {
    font-size: 64px;
    text-transform: uppercase;
    color: $green;
    font-weight: bold;
    text-shadow: 4px 4px 0px $intro-bg;
  }
  .cover-section__quote {
    font-size: 30px;
    color: $green;
    font-style: italic;
    font-weight: bold;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.45);
    margin: 0 10%;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  margin: 12px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s $easing;
  transition-delay: 0.6s;
  body.is-ready & {
    opacity: 1;
    visibility: visible;
    pointer-events: none;
  }
  .header__logo {
    height: 20px;
  }
  .header__menu {
    display: flex;
    align-items: center;
    pointer-events: auto;
    .header__menu-button {
      background-color: rgba(0, 0, 0, 0.3);
      transition: background-color 0.3s $easing;
      &:hover {
        background-color: #000000;
      }
      svg {
        width: 28px;
        height: 28px;
        fill: #ffffff;
      }
    }
  }
}

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $green;
  z-index: 30;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s $easing;
  &.menu--is-open {
    opacity: 1;
    visibility: visible;
  }
  .menu__bg {
    position: absolute;
    top: 60%;
    left: 10%;
    right: 10%;
    opacity: 0.35;
    will-change: transform;
    animation: rotate 14s linear infinite;
  }
  .menu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    margin: 12px;
    .menu__header-button {
      svg {
        width: 28px;
        height: 28px;
        fill: #ffffff;
      }
    }
  }
}

.progress {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $progress-bottom-offset;
  z-index: 2;
  .progress__progression {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to left, transparent 50%, $green 50%) right;
    background-size: 200% 100%;
    background-position-y: left;
    transition: background-position-x 0.3s $easing;
  }
}

.scroll-top {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  right: 10px;
  bottom: 20px;
  width: 49px;
  height: 49px;
  background-color: $green;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s $easing, visibility 0.3s $easing;
  &.is-visible {
    visibility: visible;
    opacity: 0.6;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms $easing;
  background-color: $green;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.content-container {
  max-width: 870px;
  margin: 0 auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.text-center {
  text-align: center;
}

.btn {
  width: 100%;
  max-width: 240px;
  height: 54px;
  padding: 8px;
  font-size: 0.8rem;
  font-weight: 900;
  color: $text-color;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 0 1px inset rgba($green, 0.3);
  position: relative;
  &.transparent:hover > p {
    color: $text-color;
    & span.text {
      box-shadow: 0 0 0 1px $text-color;
    }
  }
  &.transparent > p {
    background: $intro-bg;
    color: $text-color;
    & span.base {
      border: 1px solid $text-color;
    }
  }
  &:after,
  &:before {
    content: "";
    width: 1px;
    position: absolute;
    background: $intro-bg;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &:before {
    right: 0;
    left: initial;
  }
  & p {
    margin: 0;
    height: 54px;
    line-height: 54px;
    z-index: 1;
    left: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
    & span.base {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      left: 0;
      border: 1px solid $green;
    }
    & span.bg {
      left: -5%;
      position: absolute;
      background: $green;
      width: 0;
      height: 100%;
      z-index: 3;
      transition: 0.3s $easing;
      transform: skewX(-10deg);
    }
    & span.text {
      z-index: 4;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  &:hover,
  &.btn--is-active {
    color: $text-color;
    & span.bg {
      width: 110%;
    }
  }
}

.light-shadow {
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4),
    0 10px 10px -10px rgba(50, 50, 73, 0.3);
}

.w-100 {
  width: 100% !important;
}

.intro {
  background-color: $intro-bg;
  padding-top: 200px;
  .parallax-item--first {
    top: -100px;
    left: -150px;
  }
  .cover-section {
    &.cover-section--intro-first {
      height: 600px;
      background-image: url(../assets/intro-1.png);
    }
  }
}

.chapter-one {
  h2 {
    color: $green-dark;
  }
  .cover-section {
    h2 {
      text-align: center;
      color: $beige;
    }
    .decorated-content {
      color: $text-color;
    }
  }
  .decorated-content {
    &.decorated-content--first {
    }
    &.decorated-content--second {
      .decorated-content__content {
        padding-left: 62px;
      }
    }
    &.decorated-content--third {
      .decorated-content__content {
        padding-left: 100px;
        padding-top: 0;
      }
    }
  }
  .parallax-item--first {
    top: 0;
    left: -150px;
  }
}

.chapter-two {
  h2 {
    color: $green-dark;
  }
  .chapter-title {
    background-color: $intro-bg;
    .chapter-title__title {
      color: $green;
      text-shadow: 4px 4px 0px #ffffff;
    }
  }
  .cover-section {
    &.cover-section--chapter-2-first {
      height: 1400px;
      background-image: url(../assets/chapter-2-bg-2.png);
      color: $text-color;
    }
    &.cover-section--chapter-2-second {
      height: 1322px;
      background-image: url(../assets/chapter-2-bg-6.png);
      color: $text-color;
    }
  }
  .decorated-content {
    color: $text-color;
  }
  .parallax-item--first {
    right: 0px;
    z-index: 1;
  }
  .parallax-item--second {
    top: -50px;
    left: -150px;
  }
}

.chapter-three {
  .chapter-title {
    background-color: $intro-bg;
    margin-top: -32px;
    .chapter-title__title {
      color: $green;
      text-shadow: 4px 4px 0px $green-light;
    }
  }
  .decorated-content {
    color: $text-color;
  }
}

.timeline {
  position: relative;
  background-color: #3a3a3a;
  background-image: url(./../assets/timeline-bg-top.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  .timeline__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transition: opacity 0.8s $easing;
    &.timeline__bg--is-active {
      z-index: 1;
      opacity: 1;
    }
    &.timeline__bg-top,
    &.timeline__bg-bottom {
      background-image: url(./../assets/timeline-bg-top.png);
      background-size: cover;
      z-index: 2;
      height: 150px;
    }
    &.timeline__bg-top {
      background-position: bottom;
    }
    &.timeline__bg-bottom {
      background-position: top;
      transform: scale(-1);
      top: auto;
    }
  }
  .container {
    z-index: 1;
  }
  .timeline__bg-inner {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s $easing;
    &.timeline__bg-inner--is-active {
      opacity: 1;
      visibility: visible;
    }
  }
  .timeline__nav {
    display: flex;
    align-items: flex-start;
    height: 100%;
    overflow: scroll;
    .timeline__nav-item {
      font-size: 34px;
      color: $green;
      font-weight: bold;
      text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
      margin: 12px 24px;
      will-change: transform;
      transition: transform 0.4s $easing;
      transform-origin: center;
      cursor: pointer;
      &:hover {
        transform: scale(1.4);
      }
      &.timeline__nav-item--is-active {
        transform: scale(1.4);
      }
    }
  }
  .timeline__content {
    position: relative;
    background-image: url(./../assets/timeline-content-bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 585px;
    .timeline__content-inner {
      position: absolute;
      top: 100px;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 24px;
      opacity: 0;
      transition: opacity 0.4s $easing;
      &.timeline__content-inner--is-active {
        opacity: 1;
        z-index: 1;
        transition-delay: 0.4s;
        .timeline__content-year {
          background-position: left;
        }
      }
      .timeline__content-title {
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        color: #ffffff;
      }
      .timeline__content-year {
        position: absolute;
        bottom: -25px;
        right: 50%;
        font-size: 34px;
        font-family: $heading-font;
        font-weight: bold;
        color: $green;
        text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
        background: linear-gradient(to left, transparent 50%, $intro-bg 50%)
          right;
        background-size: 200%;
        padding: 12px 26px;
        transition: background-position 0.4s $easing;
        transition-delay: 0.4s;
        transform: translateX(50%);
      }
    }
  }
}

.chapter-title {
  position: relative;
  height: 1080px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  .chapter-title__inner-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    will-change: transform;
    animation: rotate 60s linear infinite;
  }
  .chapter-title__title {
    font-size: 34px;
    text-transform: uppercase;
    color: $green-dark;
    font-weight: bold;
    text-shadow: 4px 4px 0px $intro-bg;
    text-align: center;
    margin: 0;
    margin-top: 60px;
  }
}

.decorated-content {
  position: relative;
  color: #ffffff;
  overflow: hidden;
  .decorated-content__content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 42px 22px 0 22px;
  }
}

.player-focus {
  height: 1583px;
  background-image: url(../assets/player-focus-bg.png);
  justify-content: flex-start;
  .col-12 {
    &:nth-child(2) {
      height: 450px;
    }
  }
  .player-focus__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 120px;
    max-width: 100%;
    justify-content: space-between;
    .player-focus__nav-item {
      margin-bottom: 12px;
      font-family: $heading-font;
      color: $green-dark;
      font-style: italic;
      font-weight: bold;
      font-size: 32px;
      opacity: 0.5;
      cursor: pointer;
      transition: opacity 0.3s $easing;
      &:hover {
        opacity: 1;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &.player-focus__nav-item--is-active {
        opacity: 1;
      }
    }
  }
  .player-focus__infos-container {
    position: relative;
    .player-focus__infos {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      list-style-type: none;
      font-size: 18px;
      font-weight: bold;
      padding-left: 0;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s $easing;
      &.player-focus__infos--is-active {
        opacity: 1;
        visibility: visible;
      }
      li {
        margin-bottom: 12px;
      }
    }
  }
  .player-focus__description-container {
    position: relative;
    .player-focus__description {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s $easing;
      &.player-focus__description--is-active {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .player-focus__animation-container {
    position: relative;
    min-height: 300px;
    background-image: url(../assets/player-focus-bg-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    .player-focus__animation {
      position: absolute;
      top: 0;
      right: 50%;
      transform: translateX(50%);
      max-height: 300px;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s $easing;
      &.player-focus__animation--is-active {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .player-focus__picture-container {
    position: relative;
    .player-focus__picture {
      position: absolute;
      top: 230px;
      right: 0;
      opacity: 0;
      left: 100%;
      visibility: hidden;
      transition: opacity 0.3s $easing, left 0.3s $easing;
      transition-delay: 0s, 0.3s;
      &.player-focus__picture--is-active {
        opacity: 1;
        visibility: visible;
        left: 0;
      }
    }
  }
}

.interview {
  position: relative;
  background-image: url(./../assets/interview-bg.png);
  height: 1296px;
  .interview__bg {
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    background-image: url(./../assets/interview-bg-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 349px;
  }
  .btn {
    position: static;
    margin-bottom: 1rem;
    &.polo {
      top: 20%;
      left: 10%;
    }
    &.freins {
      top: 15%;
      right: 20%;
    }
    &.pedale {
      top: 55%;
    }
    &.pignon {
      left: 20%;
      bottom: 45%;
    }
    &.protecDisque {
      right: 20%;
      bottom: 35%;
    }
    &.protecValve {
      bottom: 25%;
      left: 10%;
    }
    &.roue {
      right: 10%;
    }
  }
}

.floating-images {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  .floating-images__image {
    margin: 0 12px;
    will-change: transform;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.spacer {
  &.spacer--is-small {
    margin: 40px 0;
  }
  &.spacer--is-medium {
    margin: 80px 0;
  }
  &.spacer--is-large {
    margin: 160px 0;
  }
}

.hit-animation {
  overflow: hidden;
  .hit-animation__bat {
    transform-origin: top right;
    transform: scaleX(-1) rotate(240deg);
    will-change: transform;
  }
  .hit-animation__ball {
    transform: translateY(75%);
    will-change: transform;
  }
}

.quote-stack {
  position: relative;
  width: 100vw;
  height: 100vh;
  .quote-stack__card-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
    .quote-stack__card {
      background-color: $green;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 45vh;
      max-width: 800px;
      height: 85vh;
      max-height: 570px;
      cursor: grab;
      will-change: transform;
      border-radius: 10px;
      box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4),
        0 10px 10px -10px rgba(50, 50, 73, 0.3);
      color: #ffffff;
      padding: 12px;
      .quote-stack__card-inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 5px solid #ffffff;
        padding: 12px;
      }
      .quote-stack__card-title {
        font-size: 30px;
        border-bottom: 5px solid #ffffff;
        color: #ffffff;
      }
      p {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 0;
        text-align: center;
      }
    }
  }
}

.stats-container {
  height: 727px;
  background-image: url(./../assets/stats-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .stats__nav {
    display: flex;
    align-items: flex-start;
    height: 100%;
    margin-top: 100px;
    overflow: scroll;
    .stats__nav-item {
      font-size: 34px;
      color: $green-dark;
      font-weight: bold;
      text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
      margin: 12px 24px;
      will-change: transform;
      transition: transform 0.3s $easing;
      transform-origin: center;
      cursor: pointer;
      &:hover {
        transform: scale(1.4);
      }
      &.stats__nav-item--is-active {
        transform: scale(1.4);
      }
    }
  }
  .stats__content-container {
    position: relative;
    .stats__content {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s $easing;
      iframe {
        display: block;
        margin: 0 auto;
      }
      &.stats__content--is-active {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  .carousel__slide {
    position: absolute;
    width: 100%;
    height: 100%;
    will-change: transform;
    cursor: grab;
    .carousel__slide-inner {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      width: 100%;
      height: 100%;
      will-change: transform;
      box-shadow: 0 62.5px 125px -25px rgba(50, 50, 73, 0.5),
        0 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
    }
  }
}

.skew-section {
  width: 100%;
  position: relative;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: left bottom;
    transform: skewY(3deg);
    background: #f5d36e;
  }
  .skew-section__inner {
    height: auto;
    display: block;
    overflow: hidden;
    padding: 200px 50px;
  }
}

.footer {
  padding: 100px 0;
  background-color: $intro-bg;
  .footer__logo {
    height: 30px;
  }
  .footer__section-title {
    font-size: 22px;
    color: $text-color;
    margin: 22px 0 16px 0;
  }
}

.alert {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  will-change: transform;
  transform: translateY(100%);
  padding: 12px 0;
  padding-bottom: 22px;
  background-color: $intro-bg;
  border-top: 1px solid darken($intro-bg, 8);
  transition: transform 0.3s $easing;
  &.alert--is-open {
    transform: translateY(0);
    & + .progress {
      background-color: $intro-bg;
    }
  }
  .alert__content {
    display: flex;
    align-items: center;
    justify-content: center;
    & > p {
      margin: 0;
      margin-right: 10px;
    }
    .alert__icon {
      width: 32px;
      height: 32px;
      margin-right: 10px;
    }
    .btn {
      margin-left: 10px;
    }
  }
}

.audio-player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  will-change: transform;
  transform: translateY(100%);
  padding: 12px 0;
  padding-bottom: 22px;
  background-color: $intro-bg;
  border-top: 1px solid darken($intro-bg, 8);
  transition: transform 0.3s $easing;
  z-index: 2;
  &.audio-player--is-open {
    transform: translateY(0);
  }
  .audio-player__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .audio-player__icon {
      width: 32px;
      height: 32px;
      margin-right: 10px;
    }
    .audio-player__close {
      position: absolute;
      top: 0;
      right: 0;
      width: 34px;
    }
    .audio-player__content-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 600px;
      & > p {
        text-align: center;
        margin: 0;
        margin-right: 10px;
      }
    }
    .audio-player__button {
      width: 68px;
      background-color: transparent;
      border: none;

      svg path:last-child {
        fill: $green;
      }
    }
    .audio-player__bar {
      user-select: none;
      width: 100%;
      display: flex;
      align-items: center;

      .audio-player__bar__time {
        color: $text-color;
        font-size: 16px;
      }

      .audio-player__bar__progress {
        flex: 1;
        border-radius: 5px;
        margin: 0 20px;
        height: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        background-color: #ffffff;

        .audio-player__bar__progress__knob {
          position: relative;
          height: 16px;
          width: 16px;
          border: 1.5px solid white;
          border-radius: 50%;
          background-color: $green;
        }
      }
    }
  }
}

.page-decoration {
  position: absolute;
  z-index: -1;
  max-width: 100px;
  &.page-decoration--is-full {
    right: 0;
    left: 0;
    max-width: none;
  }
  &.page-decoration--is-right {
    right: 0;
  }
  &.page-decoration--is-left {
    left: 0;
  }
}

.iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
  }
}

@media (min-width: 450px) {
  .player-focus {
    .col-12 {
      &:nth-child(2) {
        height: 540px;
      }
    }
  }
}

@include for-sm-up {
  .header {
    .header__logo {
      height: 30px;
    }
  }
  .cover-section {
    .cover-section__quote {
      font-size: 34px;
    }
  }
  .chapter-title {
    .chapter-title__title {
      font-size: 64px;
    }
  }
  .page-decoration {
    max-width: 200px;
  }
}

@include for-md-up {
  .timeline {
    .timeline__nav {
      overflow: visible;
      justify-content: center;
      .timeline__nav-item {
        margin: 12px 0;
        transform-origin: left;
      }
    }
    .timeline__content {
      margin-right: 25px;
      .timeline__content-inner {
        .timeline__content-year {
          bottom: -25px;
          right: -50px;
          transform: translateX(0);
        }
      }
    }
  }
  .page-decoration {
    max-width: 200px;
  }
  .player-focus {
    height: 1183px;
    .col-md-6 {
      &:first-child {
        height: auto;
      }
    }
    .player-focus__nav {
      flex-direction: row;
      align-items: flex-start;
      max-width: 80%;
      margin-top: 100px;
      margin-bottom: 160px;
    }
    .player-focus__infos-container {
      .player-focus__infos {
        position: absolute;
        li {
          margin-bottom: 22px;
        }
      }
    }
    .player-focus__description-container {
      .player-focus__description {
        position: absolute;
      }
    }
    .player-focus__animation-container {
      min-height: 450px;
      .player-focus__animation {
        position: absolute;
        max-height: none;
        right: 0;
        transform: none;
      }
    }
    .player-focus__picture-container {
      .player-focus__picture {
        position: absolute;
        top: 300px;
        right: 0;
        opacity: 0;
        left: 100%;
      }
    }
  }
  .interview {
    .btn {
      position: absolute;
      margin-bottom: 0;
    }
  }
  .stats-container {
    height: 587px;
    background-size: contain;
    .row {
      height: 100%;
    }
    .stats__nav {
      justify-content: center;
      overflow: visible;
      margin-top: 0;
      .stats__nav-item {
        margin: 12px 0;
        transform-origin: left;
      }
    }
    .stats__content-container {
      .stats__content {
      }
    }
  }
}

@include for-lg-up {
  .cover-section {
    .cover-section__title {
      font-size: 104px;
    }
    .cover-section__quote {
      font-size: 44px;
      margin: 0;
    }
  }

  .chapter-title {
    .chapter-title__title {
      font-size: 124px;
    }
  }

  .player-focus {
    .player-focus__nav {
      .player-focus__nav-item {
        font-size: 64px;
      }
    }
    .player-focus__infos-container {
      .player-focus__infos {
        font-size: 24px;
      }
    }
    .player-focus__animation-container {
      .player-focus__animation {
        right: 70px;
      }
    }
  }
  .page-decoration {
    max-width: none;
  }
  .intro {
    .cover-section {
      &.cover-section--intro-first {
        height: 1200px;
      }
    }
  }
}

@include for-xl-up {
  .cover-section {
    .cover-section__title {
      font-size: 144px;
    }
    .cover-section__quote {
      font-size: 64px;
    }
  }
  .chapter-title {
    .chapter-title__title {
      font-size: 124px;
    }
  }
}
