@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Rubik:wght@400;700&display=swap");
@import "variables";
@import "mixins";

body {
  position: relative;
  margin: 0;
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $light-bg;
  color: $text-color;
  user-select: none;
  overflow-x: hidden;
  overflow-y: scroll;
  &.menu-is-open {
    overflow: hidden;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background: none;
  border: none;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

q {
  font-weight: bold;
  font-style: italic;
  color: $green-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  font-weight: bold;
  word-break: break-word;
}

h2 {
  font-size: 62px;
  color: $green;
}

h3 {
  font-size: 34px;
  color: $green-dark;
}

blockquote {
  font-family: $heading-font;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: $green-dark;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  cite {
    font-size: 24px;
  }
}

figure {
  margin: 0;
}

figcaption {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;

  &::before {
    content: "// ";
  }
  &::after {
    content: " //";
  }
}

@include for-sm-up {
  blockquote {
    font-size: 34px;
    cite {
      font-size: 26px;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    word-break: normal;
  }
}

@include for-md-up {
}

@include for-lg-up {
  blockquote {
    font-size: 64px;
    cite {
      font-size: 44px;
    }
  }
}

@include for-xl-up {
}
